extends layout

block content
  h1 Welcome #{name}! Vote - Rocks or Not?
  h3 #{band.title}
  div.col-sm-6.col-sm-offset-3.band-image
    img(src=`/images/${band.imageUrl}`)
    a(href=`/vote/up/${band.id}`)
      button.btn.btn-success Rocks!
    a(href=`/vote/down/${band.id}`)
      button.btn.btn-danger Not
